<header class="headerWrapper">
    <div class="header">
        <div>
            <a class="terminal" href="{{ .Site.BaseURL | relLangURL }}">
                <span>{{ .Site.Params.user }}@{{ .Site.Params.hostname }} ~ $</span>
            </a>
        </div>
        <input class="side-menu" type="checkbox" id="side-menu">
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="headerLinks">
            <ul>
                {{ range .Site.Menus.header }}
                <li>
                    <a href="{{ .URL | absLangURL }}" title="{{ .Title }}" >
                        {{ if .Pre }}<i class="{{ .Pre }}"></i> {{ end }}~/{{- .Name -}}
                    </a>
                </li>
                {{ end }}
                <li style="opacity: 0.5; margin: 0 5px;">|</li>
                {{ range sort .Site.Params.social "key" }}
                <li>
                    <a href="{{ .url }}" title="{{ .name }}" {{ if .target }}target="{{ .target }}"{{ end }} aria-label="{{ .aria }}">
                        <i class="{{ .icon }}"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>