/* Custom CSS overrides */
.center { 
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 820px) {
    .listHeader { 
        margin-left: 20px;
    }
}
/* List overrides */
.postTitleBlock {
  margin-bottom: 5px;
}
.postMetaGrid {
  /* display: grid; */
 /* grid-template-columns: 50% 50%; */
  margin-bottom: 10px;
  align-items: center;
}
.postMetaGrid .postDate {
  /* float: none; */
  text-align: left;
}
.postMetaGrid .readingTime {
  /* text-align: right; */
}
.postTitleBlock .postTitle {
  /* float: none; */
  display: block;
  
}
