{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}

<style>
  .postTitle {
    text-align: left;
  }

  .postMetaGrid {
    clear:both;
  }
</style>

<div>
  <div class="listHeader">
    <h1>{{ .Title }}</h1>
  </div>

  {{ with .Content }}
  <div class="listContent">
    {{- . -}}
  </div>
  {{ end }}

  {{ $pages := .RegularPages }}
  {{ $paginator := .Paginate $pages }}

  <div role="list">
    {{ range $paginator.Pages }}
      <div class="postListItem" role="listitem">
        <a class="postListLink" href="{{ .Permalink }}">
          <div class="postTitleBlock">
            <div class="postTitle">{{ .Title }}</div>
          </div>
        </a>
        
        {{ $showReadingTime := true }}
        {{ if eq .Site.Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
        {{ if eq .Site.Params.readingTime false }}{{ $showReadingTime = false }}{{ end }}
        {{ if eq .Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
        {{ $layout := .Site.Params.displayDateFormat | default "2006-01-02" }}            
        {{ $iso := .Date | time.Format "2006-01-02" }}
        
        <div class="postMetaGrid">
          <time class="postDate" datetime="{{ $iso }}">📅 {{ .Date | time.Format $layout }}</time>
          {{ if $showReadingTime }}
          <div class="readingTime">
            🕒 {{ .ReadingTime }} min
          </div>
          {{ end }}
        </div>
        <div class="postExcerpt">
          {{ .Summary }}
        </div>
      </div>
    {{ end }}
  </div>

{{ partial "pagination.html" (dict "paginator" $paginator) }}

</div>

{{ end }}
